
.parent{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:640px;
}
.side {
    background-color: #f5f3f4;
    flex: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 640px;
}
.up {
    flex: 10.93%;
    display: flex;
    flex-wrap;
    background-color: #d3d3d3;
}
.start {
    flex: 20%;
    font-size: 40px;
    margin-top: 12px;
    margin-left: 10px;
}
.start:hover{
    transform: scale(1.5);
}
.next {
    flex: 80%;
    text-align: end;
    margin-top: 20px;
    margin-right: 35px;
}
.middle {
    flex: 7.81%;
    text-align: center;
    background-color: #b1a7a6;
    line-height: 45px;
}
.down {
    flex: 81.25%;
    background-color: white;
    height:540px;
    overflow: scroll;
}
.scroll {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    
}
.scroll:hover{
    transform: scale(1.3);
    background-color:yellow;
}

.col1{
    flex:20%;
}
.col2 {
    flex: 80%;
}
.col2 h2{
    margin-block-end: 0px;
    margin-block-start: 0px;
}
.col2 p{
    margin-block-end: 0px;
}


.main {
    flex: 70%;
    background-color: #f5f3f4;
    text-align:center;
    width:100%;
}
















/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }